<html lang='en'>
  <head>
    <title>Emotions for HN | Verification</title>
    <link id='stylesheet' rel='stylesheet' href='/light.css'>
    <meta name='viewport' content='width=device-width, initial-scale=1.0'>
  </head>
  <body>
    <h1><a href="/">Emotions for HN</a></h1>

    <p>
      An email has been sent to your email address <code>{{ email }}</code>. Click it to verify your identify. 
      Server has stored hashed email <code>{{ token }}</code> internally. Your email id is not stored on the server.
    </p>
  </body>
</html>
